div#toolBar {
    height: 80px;
}

div#lifeMap div.month {
    width: 20px;
    display: inline-block;
    background-color: green;
    border: 1px solid white;
    text-align: center;
}

div#lifeMap div.year {
    width: 20px;
    display: inline-block;
    background-color: green;
    border: 1px solid white;
    text-align: center;
}

div#lifeMap div.monthInYear {
    width: 20px;
    display: inline-block;
    background-color: green;
    border: 1px solid white;
    text-align: center;
}

div#lifeMap div.day {
    width: 20px;
    display: inline-block;
    background-color: green;
    border: 1px solid white;
    text-align: center;
}

div#lifeMap div.past {
    background-color: gray;
}

div#lifeMap div.present {
    background-color: orange;
}