body {
    margin: 0 auto;
    padding: 15px 0px 10px 0;
    font-size: 12px;
}

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
    margin-left: 0px;
}

.radio-inline, .checkbox-inline {
    margin-right: 10px;
}

.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
    margin-left: -16px;
}

input[type=radio] {
    margin-top: 1px;
}

#todo-week {
    width: 98%;
    margin: 0 auto;
}

.connectedSortable {
    width: 14.2857%;
    min-height: 10em;
    list-style-type: none;
    float: left;
    border-radius: 4px;
}

.day_title {
    width: 14.2857%;
    float: left;
    text-align: center;
    padding: 0 0 0 5px;
    font-weight: bold;
}

.today {
    color: deeppink;
}

.connectedSortable li {
    margin: 7px 0;
    cursor: pointer;
    text-align: justify;
}

.connectedSortable span {
    float: right;
}

.connectedSortable:hover {
    background-color: ghostwhite;
}

.connectedSortable li:hover, pre:hover {
    color: hotpink;
}

.ui-sortable {
    padding: 0 5px 10px 5px;
    text-align: center;
}

.ui-sortable > button {
    margin-top: 3em;
    height: 3em;
    width: 100%;
}

.done_job {
    color: #ddd;
}

.ui-state-highlight {
    width: 100%;
    height: 1.5em;
    border: dotted 2px #ddd;
    background: transparent;
}

.badge {
    padding: 2px 4px;
    font-size: 0.8em;
    background-color: #ddd;
    border-radius: 7px;
}

.day_job_time {
    margin-left: 5em;
}

.form-control {
    height: 26px;
    padding: 6px 7px;
    font-size: 12px;
}

.form-horizontal .control-label {
    padding-top: 4px;
}

.form-group {
    margin-bottom: 8px
}

.modal-header {
    padding: 7px 15px;
}

.modal-footer {
    margin-top: 0px;
    padding: 11px 20px 11px;
}

.modal-body {
    padding: 10px 20px;
}

.popover-content {
    padding: 5px 7px
}

.popover {
    border-radius: 5px;
}

#todo-backlog {
    border: 1px solid #ddd;
    height: 3em;
    clear: both;
    width: 100%;
}

.project_job {
    font-weight: bold;
}

.project-select {
    padding: 0px 7px;
    vertical-align: middle;
    display: inline-block;
    width: initial;
    height: 22px;
}