<div class="shop_name">您的用餐单</div>

    <div class="bill" {{action "click"}}>
        <div>餐品：拌米粉</div>
        <div>售价：￥7.00</div>
        <div>餐牌：73</div>

        <div class="tips">
            您的早餐准备大约用时7分钟，请您适时就餐。
        </div>
    </div>