<div class="shop_name">请选择餐品</div>

    <div class="shop_item" {{action "click"}}>
        <div class="photo"><img src="/images/noodle.jpg"></div>
        <div class="info">
            <span class="name">拌米粉</span>
            <span class="price">￥7.00</span>
        </div>
    </div>